.bottomnav{
    overflow: hidden;
    align-items: center;
    height: 10%;
    background-color: #807877;
    display: flex;
    width: 100%;
}
.bottomnav a{
    text-decoration: none;
    color: white;
}
.bottomnav a:hover{
    text-decoration: none;
    color:#d1cece;
}
.bottomnav h3{
    color: white;
}
.col1,.col2,.col3,.col4{
    flex: 1;
    text-align: start;
    padding: 0 20px;
}
.col5{
    flex:2;
    padding: 0 20px;
}
.custom-html-widget {
    margin-top: 20px;
}

.footer{
    display: flex;
}
.copyright{
    flex: 2;
    margin-left: 3%;
    text-align: left;
}
.socials{
    flex: 1;
    text-align: right;
    margin-right: 3%;
}

.bottomnavresponsive{
    overflow: hidden;
    align-items: center;
    height: 10%;
    background-color: #807877;
    display: none;
}
.bottomnavresponsive a{
    text-decoration: none;
    color: white;
}
.bottomnavresponsive a:hover{
    text-decoration: none;
    color:#d1cece;
}
.bottomnavresponsive h3{
    color: white;
}

.col6{
    margin-right: 6%;
}

