.head{
    padding: 0.5%;
    text-align: center;
    background-color: #3d4880;
    color: white;
}
.partners{
    width: 100%;
    height: 600px;
    text-align: center;
    background: #3d4880;
    color: white;
    
}
.partners button{
    display: block;
    background-color: #3d4880;
    color: white;
    text-align: center;
    height: 100%;
    text-decoration: none;
    flex:1;
    border: white;
    border-style: groove;
}

.partners button:hover{
    color: #3d4880;
    background-color: white;
}

.options{
    width: 80%;
    padding-left: 20%;
    display: flex;
    text-align: center;
}
.option1,.option2,.option3{
    flex:1;
    border: white;
    border-style:inset;
}

.partner_slider {
    width:100%;
    height:400px;
    overflow-x: hidden; /* Hide overflow for sliding effect */
}
.partner{
    padding: 3%;
    width: 100%;
}


.partner1, .partner2, .partner3, .partner4, .partner5{
   display:inline-block;
    text-align: center;
    background-color: white;
    height:300px;
}
.partner1 .logo, .partner2 .logo, .partner3 .logo, .partner4 .logo, .partner5 .logo{
    text-align: center;
    margin-left: 20px;
    margin-top: 5px;
    width:70%;
    height: 40%;
}
.partner1 .logo img, .partner2 .logo img, .partner3 .logo img, .partner4 .logo img, .partner5 .logo img{
    text-align: center;
}

.partner1 .name, .partner2 .name, .partner3 .name, .partner4 .name, .partner5 .name {
    text-align: center;
    height: 20%;
    color: black;
    margin-top: 10px;
}

.partner1 .linkof, .partner2 .linkof, .partner3 .linkof, .partner4 .linkof, .partner5 .linkof{
    text-align: center;
    height: 50%;
    margin-top: 10px;
}
.partner a{
    text-decoration: none;
}

/* Styles for previous and next buttons */
.partner_slider_prev, .partner_slider_next {
    cursor: pointer;
  position: sticky;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.partner_slider_prev {
    left: 20px; /* Adjust left position as needed */
}

.partner_slider_next {
    right: 20px; /* Adjust right position as needed */
}

.partner_slider_prev:hover, .partner_slider_next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darken background on hover */
}
